In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/AB_NYC_2019.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0

In [5]:
data.shape

(14884, 16)

In [11]:
data.price.describe()

count    14883.000000
mean       155.733118
std        247.072148
min         10.000000
25%         75.000000
50%        117.000000
75%        176.000000
max      10000.000000
Name: price, dtype: float64

In [16]:
min_thresold, max_thresold = data.price.quantile([0.01,0.999])
min_thresold, max_thresold

(35.0, 2701.4900000001217)

In [17]:
data[data['price']>max_thresold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
946,363673,Beautiful 3 bedroom in Manhattan,256239,Tracey,Manhattan,Upper West Side,40.80142,-73.96931,Private room,3000.0,7.0,0.0,NaN,NaN,1.0,365.0
1862,826690,"Sunny, Family-Friendly 2 Bedroom",4289240,Lucy,Brooklyn,Prospect Heights,40.67919,-73.97191,Entire home/apt,4000.0,4.0,0.0,NaN,NaN,1.0,83.0
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Jessica,Manhattan,Nolita,40.72193,-73.99379,Entire home/apt,5000.0,1.0,2.0,2013-09-28,0.03,1.0,365.0
3537,2110145,UWS 1BR w/backyard + block from CP,2151325,Jay And Liz,Manhattan,Upper West Side,40.77782,-73.97848,Entire home/apt,6000.0,14.0,17.0,2015-02-17,0.27,1.0,359.0
3695,2224896,NYC SuperBowl Wk 5 Bdrs River View,11353904,Todd,Manhattan,Upper West Side,40.79476,-73.97299,Entire home/apt,4000.0,1.0,0.0,NaN,NaN,1.0,0.0
3720,2243699,"SuperBowl Penthouse Loft 3,000 sqft",1483320,Omri,Manhattan,Little Italy,40.71895,-73.99793,Entire home/apt,5250.0,1.0,0.0,NaN,NaN,1.0,0.0
3774,2271504,SUPER BOWL Brooklyn Duplex Apt!!,11598359,Jonathan,Brooklyn,Clinton Hill,40.68766,-73.96439,Entire home/apt,6500.0,1.0,0.0,NaN,NaN,1.0,0.0
3782,2274084,3 Bedroom Apartment,11610321,Patrick,Manhattan,Kips Bay,40.74215,-73.98018,Entire home/apt,2750.0,1.0,0.0,NaN,NaN,1.0,0.0
3788,2281142,Prime NYC Location for Super Bowl,1427243,Jordana,Manhattan,East Village,40.73323,-73.98859,Entire home/apt,3750.0,1.0,0.0,NaN,NaN,1.0,0.0
4345,2919330,NearWilliamsburg bridge 11211 BK,14908606,Bianca,Brooklyn,Bedford-Stuyvesant,40.69572,-73.95731,Private room,5000.0,6.0,10.0,2016-01-02,0.16,1.0,363.0
4376,2952861,Photography Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69127,-73.96563,Entire home/apt,4500.0,1.0,5.0,2018-12-29,0.09,11.0,365.0
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000.0,1.0,1.0,2016-09-15,0.03,11.0,365.0
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999.0,5.0,1.0,2015-01-02,0.02,1.0,0.0
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000.0,100.0,2.0,2016-02-13,0.04,1.0,0.0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999.0,99.0,6.0,2016-01-01,0.14,1.0,83.0

In [18]:
data[data['price']<min_thresold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
469,165824,Lady only Curtain-divided room,733894,Lucy,Queens,Sunnyside,40.74000,-73.91901,Private room,33.0,44.0,31.0,2019-05-01,0.32,3.0,161.0
747,270315,Bed-stuy Royal Room,1398639,Juliet,Brooklyn,Bedford-Stuyvesant,40.68812,-73.93254,Private room,34.0,10.0,16.0,2019-03-27,0.19,3.0,216.0
776,278145,Large Room in a Huge NY apartment.,1452026,Heidi,Queens,Astoria,40.77117,-73.91905,Private room,30.0,5.0,3.0,2017-06-20,0.03,1.0,0.0
845,296844,"HISTORIC WILLIAMSBURG, BKLYN #1",839679,Brady,Brooklyn,Williamsburg,40.71653,-73.95554,Private room,30.0,3.0,24.0,2013-12-04,0.28,3.0,0.0
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20.0,3.0,80.0,2019-05-26,0.92,1.0,226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14710,11627123,Warm and cozy,43128266,,Manhattan,Washington Heights,40.83463,-73.94000,Shared room,32.0,1.0,32.0,2018-11-15,0.83,3.0,332.0
14718,11637578,Spacious and sunny room for rent,61684714,Grace,Manhattan,Washington Heights,40.84248,-73.93849,Private room,26.0,7.0,0.0,NaN,NaN,1.0,0.0
14753,11659008,"Safe, comfy convenient",52347885,Nicole,Brooklyn,Flatlands,40.63052,-73.92181,Private room,34.0,2.0,91.0,2019-06-23,3.10,2.0,78.0
14760,11670639,Sunny Apartment with a balcony,61962183,Christopher,Queens,Ditmars Steinway,40.77687,-73.90386,Private room,30.0,15.0,0.0,NaN,NaN,1.0,0.0
14779,11684682,Bright sunny room in NYC!,116382,Anthony,Brooklyn,Crown Heights,40.67031,-73.94088,Private room,29.0,2.0,142.0,2019-05-19,3.54,5.0,0.0

In [19]:
data2=data[(data['price']<max_thresold)&(data['price']>min_thresold)]
data2.shape

(14638, 16)

In [21]:
data2.price.describe()

count    14638.000000
mean       151.851824
std        149.925396
min         36.000000
25%         77.000000
50%        120.000000
75%        179.000000
max       2695.000000
Name: price, dtype: float64